:root {
    --black-bkg: #222222;
    --pink-bkg: #F1E4E6;
    --pink-color: #F18B99;
    --sales-bkg: #4E4544;
    --white-color: #FFFFFF;
    --grey-color: #9F9F9F;
    --card-bkg: #F8F8F8;
    --menu-txt-color: #6F6E6E;
    --button-bkg:#F16D7F;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.header{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
}

input::placeholder{
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--black-bkg);

}

.header__wrp {
    display: flex;
    align-items: center;
    min-height: 75px;
    justify-content: space-between;
}

.header__container{
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 41px;
}

.header__search-icon {
    border: none;
    background-color: transparent;
}

.header__search-icon{
    display: flex;
    align-items: center;
}

.header__form-input{
    min-height: 27px;
    border-radius: 0px 10px 10px 0px;
}

.header__form-input:hover,
.header__form-input:focus,
.header__form-input:active{
    border-color: rgb(0, 247, 255);
    cursor: pointer;
}

.hover__icon {
    fill: #FBFBFB;
}

.hover__button:hover .hover__icon,
.hover__button:focus .hover__icon,
.hover__button:active .hover__icon {
    fill: var(--pink-color);
    cursor: pointer;
}

.header__menu-list {
    display: flex;
    align-items: center;
}

.header__burger {
    border: none;
    background-color: transparent;
}

.header__link {
    margin: 0 0 0 33px;
}

.header__link-effect {
    position: absolute;
}

.header__dot {
    position: relative;
    right: 15px;
    bottom: 15px;
}

main {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
}

.brand {
    display: flex;
}

.brand__img {
    height: 765px;
    width: 800px;
}

.brand__title-wrp {
    flex-grow: 1;
    background-color: var(--pink-bkg);
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__title-lower {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    display: block;
}

.brand__title-pink {
    color: var(--pink-color);
}

.sales {
    margin-top: 63px;
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    height: 260px;
    width: 360px;
    background-color: var(--sales-bkg);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sales__item-text {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--white-color);
}

.sales__item-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: var(--pink-color);
}

.sales__item--women {
    background-image: url(../img/for-women.jpg);
}

.sales__item--men {
    background-image: url(../img/for-men.jpg);
}

.sales__item--kids {
    background-image: url(../img/for-kids.jpg);
}

.sales__item--accesories {
    background-image: url(../img/acessories.jpg);
    width: 100%;
    margin-top: 30px;
    height: 180px;
    width: 1140px;
}

.products__title {
    text-align: center;
    margin-top: 97px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-transform: capitalize;
}

.products-sub-title {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--grey-color)
}

.products__list {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.products__item {
    height: 581px;
    width: 360px;
    background-color: var(--card-bkg);
    margin-top: 30px;
}

.item-wrapper{
    position: relative;
}

.item-wrapper:before{
    content: '';
    width: 100%;
    min-height: 420px;
    background: rgba(58, 56, 56, 0.8);
    position: absolute;
    top: 0;
    }

.products__item-button{
    position: absolute;
    padding: 9px 13px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    top: 30%;
    left: 30%;
    background-color: transparent;
    display: none;
}

.item-wrapper:before{
    display: none;
}

.products__item:hover .products__item-button{
    display: flex;
    align-items: center;
}

.products__item:hover .item-wrapper:before{
    display: block;
}

.products__item-basket{
    margin-right: 11px;
}

.products__item-title {
    font-weight: 400, Regular;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 24px;
}

.products__item-text {
    margin-top: 13px;
    font-weight: 300, Light;
    font-size: 14px;
    line-height: 17px;
    color: var(--grey-color);
}

.products__item-price {
    margin-top: 18px;
    font-weight: 400, Regular;
    font-size: 16px;
    line-height: 19px;
    color: var(--pink-color);
}

.catalog {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.catalog__link {
    display: block;
    align-items: center;
    border: 1px solid #FF6A6A;
    color: #F26376;
    padding: 14px 38px 13px 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.catalog__link:hover{
    background-color: var(--pink-color);
    color: var(--white-color);
}

.advantages {
    background-color: var(--black-bkg);
}

.advantages__list {
    margin-top: 95px;
    display: flex;
}

.advantages__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.advantages__item-img {
    margin-top: 103px;
}

.advantages__item-title {
    margin-top: 28px;
    font-weight: 400, ;
    font-size: 20px;
    line-height: 24px;
    color: var(--white-color);
    text-transform: capitalize;
}

.advantages__item-text {
    margin-top: 16px;
    margin-bottom: 104px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    align-self: center;
    width: 360px;
}

.footer {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
}

.inform {
    background-image: url(../img/subscribe-bkg.png);
    min-height: 448px;
    display: flex;
}

.inform__wrp {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
}

.inform__img {
    margin-bottom: 30px;
}

.inform__comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
}

.inform__text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #222224;
    text-transform: uppercase;
}

.form__text {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 32px;
}

.contacts {
    background-color: var(--black-bkg);

}

.container__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 79px;
}

.contacts__list {
    display: flex;
}

.contacts__link {
    margin-right: 7px;
    height: 32px;
    width: 32px;
    background-color: var(--white-color );

}

.contacts__icon{
    height: 15px;
    width: 15px;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.contacts__link:hover .contacts__icon{
    fill: var(--white-color);
}
.contacts__link:hover{
    background-color: var(--pink-color);
}

.contacts__rights {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--white-color);
}

.registration {
    background-color: var(--pink-bkg);
    height: 148px;
}

.registration__title {
    text-transform: uppercase;
    padding-top: 59px;
    padding-left: 230px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--pink-color);
}

.form-registration {
    margin-top: 64px;
    display: flex;
    justify-content: space-around;
}

.form-registrtion__loyalty {
    display: flex;
    flex-direction: column;
    max-width: 652px;
}

.form-registrtion__loyalty-title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.form-registrtion__loyalty-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-top: 16px;
    position: relative;
}

.loyalty-text__decor:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    left: -25px;
    background-image: url(../img/mark.svg);
    background-size: 15px 15px;
}

.header__menu-item{
    position: relative;

}

.header__nav{
    position: absolute;
    top: 100%;
    margin-top: 23px;
    display: none;
    background-color: var(--card-bkg);
    min-height: 764px;
    min-width: 232px;
    margin-left: 135px;
}

.nav-item__list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-item__list{
    text-decoration: none
}

.nav-item__list:hover{
    cursor: pointer;
}

.header__burger:hover +.header__nav,
.header__burger:focus +.header__nav{
    display: block;
}

.header-nav:hover {
    display: block;
}

.header__nav-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    margin-top: 37px;
    margin-left: 34px;
}

.nav-item__title{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--pink-color);
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 33px;
}

.nav-item__link{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--menu-txt-color);
    text-transform: capitalize;
    margin-left: 55px;
    margin-top: 11px;
}

.form__subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__subscribe-input{
    min-height: 49px;
    min-width: 256px;
    padding-left: 22px;
    background-color: #E1E1E1;
    border: none;
    border-radius: 20px 0px 0px 20px;
}

.form__subscribe-button{
    min-height: 49px;
    min-width: 100px;
    border: none;
    background-color: #E05C6E;
    text-transform: capitalize;
    color: var(--white-color);
    border-radius: 0px 20px 20px 0px;
}

.form__subscribe-button:hover,
.form__subscribe-button:focus,
.form__subscribe-button:active{
    cursor: pointer;
    border: 1px solid rgb(0, 247, 255) 
}

.form__subscribe-input:hover,
.form__subscribe-input:focus,
.form__subscribe-input:active{
    border: 1px solid rgb(0, 247, 255) ;
    border-color: rgb(0, 247, 255);
    cursor: pointer;
}

.form-registration__data{
    display: flex;
    flex-direction: column;
}

.form-registration__title{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
}

.form-registration-indent{
    margin-top: 33px;
}

.form-registration__input{
    min-height: 45px;
    width: 360px;
    margin-top: 20px;
    padding-left: 17px;
    border: 1px solid #A4A4A4;
}

.form-registration__input:hover,
.form-registration__input:focus,
.form-registration__input:active{
border-color: rgb(0, 247, 255);
cursor: pointer;
}

.registration__gender{
    display: flex;
    margin-top: 31px;
}

.form-registration__radio:hover,
.form-registration__radio:focus,
.form-registration__radio:active{
cursor: pointer;
}

.form-registration__text{
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin-top: 16px;
    width: 360px;
}

.registration__button{
    width: 167px;
    height: 50px;
    margin-top: 39px;
    display: flex;
    justify-content: space-around;   
    align-items: center;
    background-color: var(--white-color);
    color: var(--pink-color);
    fill: var(--pink-color);
    border-style: solid;
    border-color: var(--pink-color);
    margin-bottom: 113px;
}

.registration__button:hover,
.registration__button:focus,
.registration__button:active{
    cursor: pointer;
    background-color: var(--button-bkg);
    color: var(--white-color);
    fill: var(--white-color);
}

.registration__button-text{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.heading{
    background-color: var(--pink-bkg);
    height: 148px;
}

.heading__title{
    text-transform: uppercase;
    padding-top: 59px;
    padding-left: 230px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--pink-color);
}

.shop__wrp{
    display: flex;
    justify-content: space-around;
    margin-top: 56px;
}

.shop__cart{
    display: flex;
    margin-top: 40px;
    box-shadow: 0px 10px 10px 0px var(--grey-color);
}

.shop__list{
    margin-top: 22px;
    margin-left: 31px;
    width: 390px;
}

.shop__list-title{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 36px;
    width: 202px;
}

.shop__item{
    margin-top: 6px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.shop__item-pink{
    color: var(--pink-color);
}

.shop__item-wrp{
    display: flex;
}

.shop__item-select{
    margin-left: 24px;
}

.buttons__wrp{
    margin-top: 73px;
    display: flex;
    justify-content: space-between;
}

.shop__buttons{
    margin-bottom: 128px;
    background-color: white;
    width: 234px;
    height: 49px;
    text-transform: uppercase;
    border-color: #A4A4A4;
}

.shop__buttons:hover,
.shop__buttons:focus,
.shop__buttons:active{
    background-color: var(--button-bkg);
    color: white;
    border: none;
    cursor: pointer;
}