    $black-bkg: #222222;
    $pink-bkg: #F1E4E6;
    $pink-color: #F18B99;
    $sales-bkg: #4E4544;
    $white-color: #FFFFFF;
    $grey-color: #9F9F9F;
    $card-bkg: #F8F8F8;
    $menu-txt-color: #6F6E6E;
    $button-bkg:#F16D7F;
    $ezgrey-color: #E2E2E2;
    $blue-border:rgb(0, 247, 255);
    $dark_grey-bkg: rgba(58, 56, 56, 0.8);
    $blac-color:#222224;

    $desktop-width: 1599px;
    $tablet-width: 767px;