.brand {
    display: flex;

    &__img {
        height: 765px;
        width: 50%;
        
        @include tablet{
            height: 100%;
        }

        @include mobile{
            display: none;
        }
    }
    
    &__title-wrp {
        flex-grow: 1;
        background-color: $pink-bkg;
        padding: 0 0 0 92px;
        display: flex;
        align-items: center;

        @include mobile{
            height: 363px;
        }
    }
    
    &__title {
        @include font(48px, 58px, 900);
        text-transform: uppercase;
        border: 12px solid $pink-color;
        border-width: 0px 0px 0px 12px;
        padding-left: 16px;
        
        @include tablet{
            @include font(44px, 53px, 900);
        }

        @include mobile{
            @include font(38px, 46px, 900);
        }
    }
    
    &__title-lower {
        @include font(32px, 39px, 700);
        text-transform: uppercase;
        display: block;

        @include tablet{
            @include font(24px, 29px, 700);
        }

        @include mobile{
            @include font(20px, 24px, 700);
        }
    }
    
    &__title-pink {
        color: $pink-color;
    }
}


