
.contacts {
    background-color: $black-bkg;

    &__wrp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 79px;

        @include tablet{
            justify-content: space-around
        }

        @include mobile{
            flex-direction: column-reverse;
            min-height: 143px;
        }
    }
    &__list {
        display: flex;

        @include mobile{
            margin-top: 40px;
        }
    }
    
    &__link {
        margin-right: 7px;
        height: 32px;
        width: 32px;
        background-color: $white-color;
    
    }
    
    &__icon{
        height: 15px;
        width: 15px;
        margin-top: 50%;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &__link:hover &__icon{
        fill: $white-color;
    }
    &__link{
        &:hover{
            background-color: $pink-color;
        }
    }
    
    &__rights {
        font-family: 'Lato';
        @include font(16px, 19px, 400);
        color: $white-color;
    }
}


