.nav-item{
    &__list{
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none
    }
    
    &__list:hover{
        cursor: pointer;
    }
    
    &__title{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $pink-color;
        text-transform: uppercase;
        margin-top: 20px;
        margin-left: 33px;
    }
    
    &__link{
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $menu-txt-color;
        text-transform: capitalize;
        margin-left: 55px;
        margin-top: 11px;
    }
    
    &__link:hover,
    &__link:focus{
        color: $pink-color;
    }
}


